/*
***************
EVENTS
***************
*/

/*------ main top bar -------*/

main .top-bar .upgrade-btn:hover {
    transform: scale(1.1);
}

/*------ main nav -------*/

.nav-bar a:hover {
    color: white;
}

.nav-bar .crea-playlist a:hover i {
    color: white;
}

/*------ main view menu -------*/

.main-view-menu ul li div a:hover h4 {
    color: white;
}

/*------ main view container -------*/

.main-container article:hover .cover-hover {
    display: block;
}

/*------ footer -------*/

footer .playing button:hover {
    color: white;
}

footer .playing .subtitle:hover a {
    text-decoration: underline;
}

footer .player .controls .play:hover {
    transform: scale(1.1);
}

/*------ footer time & volume bar -------*/

footer .player .time-bar:hover,
footer .settings .volume .volume-bar:hover {
    cursor: pointer;
}

footer .player .time-bar:hover .inner-bar,
footer .settings .volume .volume-bar:hover .inner-bar {
    background-color: var(--green);
}

footer .time-bar:hover .pointer,
footer .volume-bar:hover .pointer {
    display: block;
}