
/*
***************
FOOTER
***************
*/
footer {
    background-color: #282828;
    height: var(--footer-height);
    padding: 0 .625rem .25rem;
}

footer .playing,
footer .settings {
    width: 30%;
}

footer .player {
    min-width: 11.875rem;
    flex-grow: 1;
    margin: 0 6%;
}

footer .playing {
    min-width: 8.125rem;
    gap: 1.5rem;
}

/*------ footer playing -------*/

footer .playing .track {
    gap: 5%;
}

footer .playing .track .cover {
    min-width: 1.75rem;
    max-width: 2.625rem;
}

/*------ footer player -------*/

footer .player .controls {
    margin-bottom: .875rem;
}

footer .player .controls .play {
    margin: 0 .625rem;
}

footer .player .controls ul {
    gap: 1.375rem;
}

footer .player .time {
    width: 100%;
}

/*------ footer settings -------*/

footer .settings {
    justify-content: flex-end;
    gap: .5rem;
}

footer .settings .volume {
    width: 70%;
    max-width: 9.375rem;
}

/*
***************
footer mediaq
***************
*/
@media screen and (min-width: 552px) {
    footer .playing {
        gap: 1.8125rem;
    }

    footer .playing .track .subtitle {
        display: flex;
    }

    footer .settings {
        justify-content: flex-end;
        gap: .875rem;
    }
}

@media screen and (min-width: 640px) {
    footer .playing {
        gap: 2.625rem;
    }

    footer .playing .add {
        display: flex;
        gap: .375rem;
    }

    footer .settings {
        justify-content: flex-end;
        gap: 1.0625rem;
    }
}