/*
***************
MAIN
***************
*/
main {
    width: 100%;
    height: calc(100% - var(--footer-height));
}

/*
***************
MAIN NAV
***************
*/
main .nav-bar {
    color: var(--nav-grey);
}

.nav-bar .logo-big,
.nav-bar .hidden {
    display: none;
}

.nav-bar {
    background-color: black;
    width: 3.125rem;
    height: 100%;
    overflow: hidden;
}

.nav-bar img {
    height: 100%;
}

/*------ logo -------*/

.nav-bar .logo-small {
    padding: .3125rem 0;
    height: 2.5rem;
}

.nav-bar .logo-big {
    height: 5.625rem;
    padding: 1.25rem 1.25rem 1.5rem;
}

/*------ menu -------*/

.nav-bar .nav-menu {
    width: 100%;
}

.nav-bar .nav-menu li a {
    height: 2.1875rem;
    padding: .375rem 0;
}

.nav-bar .nav-menu li a > span {
    padding-left: .5625rem;
} 

/*------ playlist -------*/

.nav-bar .playlist {
    overflow: hidden;
    width: 100%;
    margin-top: 1.875rem;
}

.nav-bar .home,
.nav-bar .playlist h4,
.nav-bar .user .profile {
    color: white;
}

.nav-bar .playlist .crea-playlist {
    height: 2.3125rem;
    margin: .9375rem 0 .1875rem;
}

.nav-bar .playlist .crea-playlist i {
    font-size: 2.3125rem;
    margin-right: .625rem;
    color: #a3a3a3;
}

.nav-bar .playlist .playlists-list {
    height: 12.5rem;
    width: 100%;
    overflow-y: auto;
    flex-grow: 1;
}

.nav-bar .playlist .playlists-list li {
    margin: .6875rem 0;
}

/*------ nav user -------*/

.nav-bar .user {
    margin-top: auto;
}

.nav-bar .user .installa {
    padding: .6875rem 0;
}

.nav-bar .user .profile {
    padding: .875rem 0 .4375rem;
}

.nav-bar .user .installa .download-img-container,
.nav-bar .user .installa .download-img-container img {
    height: .8125rem;
    width: .8125rem;
    border-radius: 50%;
}

.nav-bar .user .installa .download-img-container img {
    object-fit: fill;
}

.nav-bar .user .profile .profile-img-container,
.nav-bar .user .profile-img-container img {
    height: 1.5625rem;
    width: 1.5625rem;
    border-radius: 50%;
    background-color: #808080;
}

.nav-bar .user .profile-img-container img {
    object-fit: fill;
}

.nav-bar .user .installa a > small,
.nav-bar .user .profile a > span {
    padding-left: .6875rem;
}

@media screen and (min-width: 552px) {
    .nav-bar {
        width: 14.375rem;
        align-items: flex-start;
    }
    
    .nav-bar .nav-menu li > div {
        justify-content: flex-start;
    }

    .nav-bar .user {
        align-items: flex-start;
    }
    
    .nav-bar .nav-menu li:first-child {
        border-left: 3px solid #adff2f;
    }

    .nav-bar .logo-big,
    .nav-bar .logo-small,
    .nav-bar .nav-menu li div,
    .nav-bar .playlist,
    .nav-bar .user  {
        padding: 0 1.25rem;
    }

    .nav-bar .logo-small {
        display: none;
    }

    .nav-bar .logo-big,
    .nav-bar .hidden {
        display: initial;
    }
    
    .nav-bar .user,
    .nav-bar .user .installa {
        width: 100%;
    }

    .nav-bar .user .installa {
        border-bottom: 1px solid var(--nav-grey);
    }
}