
/*
***************
MAIN VIEW
***************
*/

.main-view {
    background-color: #141922;
    width: calc(100% - 3.125rem);
    height: 100%;
    position: relative;
    padding: 6.875rem 1.875rem 0 1.25rem;
    overflow-y: scroll;
}

.top-bar .upgrade-btn a,
.main-view h2,
.main-view h3 {
    color: white;
}

.main-view .main-view-menu h4,
.main-view .main-container article .subtitle,
.main-view .main-container section > p {
    color: var(--main-view-grey);
}

main .main-view .main-view-menu > ul > li > a > h4 {
    padding: .5rem .75rem;
}

/*------ main top bar -------*/

.main-view .top-bar {
    background-color: rgba(0, 0, 0, 0.5);
    height: var(--footer-height);
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.top-bar .upgrade-btn {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    border: .125rem solid white;
    border-radius: 1.5625rem;
    background: #080b12;
}

.top-bar .upgrade-btn a {
    padding: .75rem 2.5rem;
}

/*------ main container -------*/

.main-view .main-container > section {
    margin: 2.5rem 0;
}

.main-view .main-container section > p {
    margin-top: .75rem;
}

.main-container .articles-container {
    margin: 1.875rem -0.3125rem 2.5rem;
    justify-content: flex-start;
}

.main-container .articles-container article {
    width: calc(100% / 2 - .625rem);
    margin-left: .3125rem;
    margin-right: .3125rem;
}

.main-container .articles-container article .cover,
.main-container .articles-container article .cover > img {
    width: 100%;
}

.main-container .articles-container .article-caption {
    text-align: center;
}

.main-container .articles-container .article-caption .title {
    margin: 1.25rem 0 .625rem;
}

.main-container .articles-container .article-caption .subtitle {
    margin-bottom: .3125rem;
}

/*------ artisti piu popolari -------*/

.main-container .popolari article .cover {
    border-radius: 50%;
    overflow: hidden;
}

/*
***************
main-view mediaq
***************
*/

@media screen and (min-width: 640px) {
    .main-container .articles-container article {
        width: calc(100% / 4 - .625rem);
    }
}

@media screen and (min-width: 878px) {
    .main-container .articles-container article {
        width: calc(100% / 6 - .625rem);
    }
}
