/*
***************
MAIN VIEW
***************
*/

.main-view {
    background-color: #141922;
    width: calc(100% - 3.125rem);
    height: 100%;
    padding: 6.875rem 1.875rem 0 1.25rem;
    overflow-y: scroll;
}

.main-view h2,
.main-view h3,
.main-view article .cover {
    color: white;
}

.main-view .main-view-menu h4,
.main-view .main-container article .subtitle,
.main-view .main-container section > p {
    color: var(--main-view-grey);
}

/*------ main view menu -------*/

main .main-view .main-view-menu ul li div {
    padding: .3125rem .75rem;
}

main .main-view .main-view-menu ul li .green-border {
    width: 35%;
    height: 0;
    border-bottom: .125rem solid var(--green);
}

/*------ main view container -------*/

.main-view .main-container > section {
    margin: 2.5rem 0;
}

.main-view .main-container section > p {
    margin-top: .75rem;
}

.main-container .articles-container {
    margin: 1.875rem -0.3125rem 2.5rem;
    justify-content: flex-start;
}

.main-container .articles-container article {
    width: calc(100% / 2 - .625rem);
    margin-left: .3125rem;
    margin-right: .3125rem;
}

.main-container .articles-container article .cover {
    position: relative;
}

.main-container .articles-container article .cover,
.main-container .articles-container article .cover > img {
    width: 100%;
}

.main-container .articles-container .article-caption {
    text-align: center;
}

.main-container .articles-container .article-caption .title {
    margin: 1.25rem 0 .625rem;
}

.main-container .articles-container .article-caption .subtitle {
    margin-bottom: .625rem;
}

/*------ artisti piu popolari -------*/

.main-container .popolari article .cover {
    border-radius: 50%;
    overflow: hidden;
}

/*
***************
main-view hover elements
***************
*/

.main-container article .cover .cover-hover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3.4375rem;
    display: none;
}

.main-container article .cover-hover a {
    width: 100%;
    height: 100%;
} 

/*
***************
main-view mediaq
***************
*/

@media screen and (min-width: 640px) {
    .main-container .articles-container article {
        width: calc(100% / 4 - .625rem);
    }
}

@media screen and (min-width: 878px) {
    .main-container .articles-container article {
        width: calc(100% / 6 - .625rem);
    }
}
