@import url('variables.css');
@import url('utility.css');
@import url('common.css');

/*
***************
RESET
***************
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

/*
***************
DEBUG
***************
*/
.debug {
    color: white;
}

.debug .nav-bar nav.bottom {
    background-color: aqua;
}

/*
***************
MAIN
***************
*/
main {
    width: 100%;
    height: 100%;
}

/*
***************
nav-bar
***************
*/
.nav-bar {
    background-color: black;
    width: 3.125rem;
    height: calc(100% - 5.625rem);
}

.nav-bar nav.top .logo-big,
.nav-bar span,
.nav-bar nav.top .playlists {
    display: none;
}

/*------ nav-bar top -------*/
.nav-bar nav.top .logo-small {
    padding: .3125rem .6875rem;
}

.nav-bar nav.top .logo-big {
    padding: 1.25rem 1.3125rem 1.5rem;
}

.nav-bar nav.top .logo-big img {
    height: 2.5rem;
}

.nav-bar nav.top .playlists-list {
    max-height: 15.625rem;
    overflow-y: scroll;
}

/*------ nav-bar top -------*/


/*
***************
nav-bar mediaq
***************
*/

@media screen and (min-width: 552px) {
    .nav-bar {
        width: 14.375rem;
    }
    
    .nav-bar nav.top .logo-small {
        display: none;
    }

    .nav-bar nav.top .logo-big,
    .nav-bar span,
    .nav-bar nav.top .playlists  {
        display: inline-block;
    }
}

/*
***************
main view
***************
*/
.main-view {
    background-color: #141922;
    width: calc(100% - 3.125rem);
    height: calc(100% - 5.625rem);
    position: relative;
}

.main-view .top-bar {
    background-color: rgba(0, 0, 0, 0.5);
    height: 5.625rem;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

/*
***************
main-view mediaq
***************
*/

/*
***************
FOOTER
***************
*/
footer {
    background-color: #282828;
    height: 5.625rem;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}