@import url('variables.css');
@import url('utility.css');
@import url('common.css');
@import url('main-nav.css');
@import url('main-view.css');
@import url('footer.css');

/*
***************
RESET
***************
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

/*
***************
DEBUG
***************
*/
.debug {
    color: white;
}

.debug footer .player .time-bar,
.debug footer .settings .volume .volume-bar {
    background-color: grey;
}

.debug footer {
    font-size: 14px;
}

.debug footer .player {
    background-color: violet;
}

.debug footer .volume {
    background-color: blue;
}

.debug .nav-bar nav a {
    color: white;
}

.debug .nav-bar .user .profile-img-container {
   
    background-color: grey;
}